In [1]:
import   os
folder  =  r'D:\CSI\Members\error'
os.chdir(folder)

In [2]:
from      datetime  import datetime

In [3]:
import   pandas   as    pd
import   numpy    as    np

file1     =   'Bounced-CSI-member-email IDs-2022_06_12_06_17_48.csv'
df1       =   pd.read_csv(file1)
print('Shape {}'.format(df1.shape))

Shape (178, 3)

In [4]:
df1.columns

Index(['Sno', 'Email ID', 'Member ID'], dtype='object')

In [23]:
df1.head().T

,0,1,2,3,4
Sno,1,2,3,4,5
Email ID,svraaman_1954@yahoo.co.in,stejasvi@satyam.net.in,arm@sancm.csir.res.in,murugan.k@ge.com,balipara@dataone.in
Member ID,I0007079,I0000786,I0018093,I0015489,I0002601

In [5]:
file2     =   r'D:\CSI\Members\Data\CSI_CC_Members_HQ.csv'
df2       =   pd.read_csv(file2)
print('Shape {}'.format(df2.shape))

Shape (964, 20)

In [6]:
df2[['Street1','street2']] = df2[['Street1','street2']].fillna('') # Specific columns

In [7]:
df2['Address']  =  df2['Street1'] + df2['street2']

In [8]:
df2.head(2).T

,0,1
MemberCode,I1203637,I0148983
First Name,Akella,Padmaveni
Middle Name,Venkatasurya,NaN
Last Name,Prabhakar,Padmaveni
FullName,Akella Venkatasurya Prabhakar,Padmaveni Padmaveni
EffectiveDate,2012-12-10,2007-03-29
Street1,"5/20, Sri Sumathinath Residency Extn., Nanmang...","Asso Professor , Hindustan Institute of Techno..."
street2,,"1, Rajiv Gandhi Salai, Old Mahabalipuram Road,..."
CityName,Chennai,Chennai
ChapterName,Chennai,Chennai
PinCodes,600117,603103
AreaName,NaN,"Kelambakam,"
State,TAMIL NADU,TAMIL NADU
Regions,Region7,Region7
emailAddress,avsprabhakar@gmail.com,kpadmaveni@hindustanuniv.ac.in
secondary email-id,NaN,p_veni@yahoo.co.uk
ContactDetails,9840974950,9962544590
Unnamed: 17,NaN,NaN
Unnamed: 18,NaN,NaN
Unnamed: 19,NaN,NaN
Address,"5/20, Sri Sumathinath Residency Extn., Nanmang...","Asso Professor , Hindustan Institute of Techno..."

In [9]:
cols_list  =  ['MemberCode','FullName','emailAddress','ContactDetails','Address','CityName','PinCode']
len(cols_list)

7

In [10]:
df2.columns

Index(['MemberCode', 'First Name', 'Middle Name', 'Last Name', 'FullName',
       'EffectiveDate', 'Street1', 'street2', 'CityName', 'ChapterName',
       'PinCodes', 'AreaName', 'State', 'Regions', 'emailAddress',
       'secondary email-id', 'ContactDetails', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Address'],
      dtype='object')

In [11]:
df_merge      =    pd.merge(df1, df2, how = 'inner', left_on = 'Member ID', right_on = 'MemberCode')

In [18]:
df_merge.columns

Index(['Sno', 'Email ID', 'Member ID', 'MemberCode', 'First Name',
       'Middle Name', 'Last Name', 'FullName', 'EffectiveDate', 'Street1',
       'street2', 'CityName', 'ChapterName', 'PinCodes', 'AreaName', 'State',
       'Regions', 'emailAddress', 'secondary email-id', 'ContactDetails',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Address'],
      dtype='object')

In [19]:
Cols    =   ['MemberCode','FullName','emailAddress','ContactDetails', 'Address', 'CityName','PinCodes']
df_und  =   df_merge.loc[:,Cols ]

In [20]:
df_und.columns   =  cols_list

In [21]:
os.getcwd()

'D:\\CSI\\Members\\error'

In [22]:
output_file_name =  'Bounced-CSI-member-email IDs-' + str(datetime.now().strftime('%Y_%m_%d_%H_%M_%S')) + '.csv'
df_und.to_csv(output_file_name, index = False)