### Create a doc file using python

! pip install python-docx

In [1]:
import  pandas     as     pd
import  datetime
from    datetime   import datetime
import  docx, os
from    docx.shared import Length
from    docx.shared import Inches

file1  =  'D:/CSI/Members/error/Bounced-CSI-member-email IDs-2022_06_13_19_33_49.csv'

df1    =   pd.read_csv(file1)
print(df1.shape)
print(df1.head().T)

(178, 7)
                                                                0  \
MemberCode                                             2010000599
FullName                                  Mr. sakthivel marimuthu
emailAddress                                 sakthi.gri@gmail.com
ContactDetails                                       9444695994.0
Address         First Floor Forest Quarters Forest Quarters,Ma...
CityName                                     thiruvallur district
PinCode                                                    601103

                                                               1  \
MemberCode                                            2010000898
FullName                                 Dr. Pradeep Kumar Sahoo
emailAddress                            hipradeepsahoo@yahoo.com
ContactDetails                                      9840458415.0
Address         No 12/4 Sakthiasumriya Flat20th Street T G Nagar
CityName                                              Nanganllur
PinCode                                                   600064

                                                                2  \
MemberCode                                               I0000077
FullName                            Krishnamurthy K Krishnamurthy
emailAddress                                    krishkal@ieee.org
ContactDetails                                       9444407203.0
Address         1 A, Rainbow Praveen Apartments, 44, Naickamar...
CityName                                                  Chennai
PinCode                                                    600033

                                                                3  \
MemberCode                                               I0000786
FullName                                      Sundaram N Sundaram
emailAddress                               stejasvi@satyam.net.in
ContactDetails                                                0.0
Address         Old No. 6, New No.11, 6th Cross Street, Shenoy...
CityName                                                  Chennai
PinCode                                                    600030

                                                                4
MemberCode                                               I0000922
FullName                                  Chandramouli  Ponnusami
emailAddress                              chandramouli24@vsnl.com
ContactDetails                                       9444036402.0
Address         Flat No. 1, Ashok Vishnu, 22 Ram Colony,  West...
CityName                                                  Chennai
PinCode                                                    600033

In [2]:
df1.columns

Index(['MemberCode', 'FullName', 'emailAddress', 'ContactDetails', 'Address',
       'CityName', 'PinCode'],
      dtype='object')

In [3]:
Col1_fixed =  ['CSI Member Id', 'Name', 'Email Id', 'Phone', 'Address', 'City', 'Pincode']

In [4]:
Colnamesu  =  ['MemberCode', 'FullName', 'emailAddress', 'ContactDetails', 'Address','CityName', 'PinCode']

In [5]:
df2        =  df1.loc[:, Colnamesu]
df2.shape

(178, 7)

In [6]:
data_df   =  pd.DataFrame()

for j in range(df2.shape[0]):
        df2_df = pd.DataFrame({'SNo' : j, 'CSI Member Id': df2.loc[j, 'MemberCode'],\
                     'Name' : df2.loc[j, 'FullName'],\
                     'Email Id' : df2.loc[j, 'emailAddress'],\
                     'Phone' : df2.loc[j, 'ContactDetails'],\
                     'Address' : df2.loc[j, 'Address'],\
                     'City' : df2.loc[j, 'CityName'],\
                     'Pincode' : df2.loc[j, 'PinCode']} , index = [0])
        data_df   =    data_df.append(df2_df)
                          
###
data_df  =  data_df.set_index('SNo')
print(data_df.shape)

(178, 7)

In [7]:
size  = data_df.shape[0]

In [8]:
data_df

,CSI Member Id,Name,Email Id,Phone,Address,City,Pincode
SNo,,,,,,,
0,2010000599,Mr. sakthivel marimuthu,sakthi.gri@gmail.com,9.444696e+09,"First Floor Forest Quarters Forest Quarters,Ma...",thiruvallur district,601103
1,2010000898,Dr. Pradeep Kumar Sahoo,hipradeepsahoo@yahoo.com,9.840458e+09,No 12/4 Sakthiasumriya Flat20th Street T G Nagar,Nanganllur,600064
2,I0000077,Krishnamurthy K Krishnamurthy,krishkal@ieee.org,9.444407e+09,"1 A, Rainbow Praveen Apartments, 44, Naickamar...",Chennai,600033
3,I0000786,Sundaram N Sundaram,stejasvi@satyam.net.in,0.000000e+00,"Old No. 6, New No.11, 6th Cross Street, Shenoy...",Chennai,600030
4,I0000922,Chandramouli Ponnusami,chandramouli24@vsnl.com,9.444036e+09,"Flat No. 1, Ashok Vishnu, 22 Ram Colony, West...",Chennai,600033
...,...,...,...,...,...,...,...
173,I1504189,Prof. N Malarvizhi,nmv_94@yahoomail.com,9.003183e+09,F2 Anira ApartmentsNo 7 Kaveri Street,Chennai,600093
174,I1504611,Dr. Subramaniam Murugavalli,murugabalili26@rediffmail.com,9.751882e+09,Dept of CSEPanimallar Egnineering College Naze...,Chennai,600123
175,I1504948,Mr. S Muthalagan,smuthmylagam@gmail.com,8.056205e+09,51 3rd Main RoadRamakrishnapuram,Chennai,600059
176,I1505085,Mr. Nagappan V,nagappan@vsn.com,9.841011e+09,A 1 Shoreham No. 38V Avenue,Chennai,600090
177,I1505407,Prof. Baskaran Ramachandran,baski@annauniv.edu,9.094022e+09,Dept. of CSECollege of Engg Guindy,Chennai,600025

In [9]:
data_df.columns

Index(['CSI Member Id', 'Name', 'Email Id', 'Phone', 'Address', 'City',
       'Pincode'],
      dtype='object')

In [10]:
test_list =  [(('CSI Member Id', data_df.loc[0, 'CSI Member Id']),\
              ('Name', data_df.loc[0, 'Name']),\
               ('Email Id', data_df.loc[0, 'Email Id']),\
               ('Phone', data_df.loc[0, 'Phone']),\
               ('Address', data_df.loc[0, 'Address']),\
               ('City', data_df.loc[0, 'City']),\
               ('Pincode', data_df.loc[0, 'Pincode']))]
test_list

[(('CSI Member Id', '2010000599'),
  ('Name', 'Mr. sakthivel marimuthu'),
  ('Email Id', 'sakthi.gri@gmail.com'),
  ('Phone', 9444695994.0),
  ('Address',
   'First Floor Forest Quarters Forest Quarters,Malandur vil Kalpet po'),
  ('City', 'thiruvallur district'),
  ('Pincode', 601103))]

In [11]:
os.chdir('D:/CSI/Members/Output')

###
# Table data in a form of list
###
dataList = [[('MemberCode', 'I0001992'),\
        ('FullName', 'Venkataraman R'),\
        ('emailAddress', ' '),\
        ('Phone Number', '0'),\
        ('Address', 'Plot 4  Street 3 South Sector New Colony ,Adambakkam'),\
        ('CityName', 'Kanchipuram'),\
        ('PinCode', '600088')],
       [('MemberCode', 'I0002142'),\
        ('FullName', 'Ramachandran V'),\
        ('emailAddress', ' '),\
        ('Phone Number', '0'),\
        ('Address', '19, Venkatesan Street T Nagar'),\
        ('CityName', 'Chennai'),\
        ('PinCode', '600017')]
       ]

In [12]:
dtd  =  'Date: ' + str(datetime.now().strftime('%d-%m-%Y'))
print(dtd)

Date: 13-06-2022

In [13]:
###
# Create an instance of a word document
###
doc  =  docx.Document()

In [14]:
for l  in  range(size):
    data =  (('CSI Member Id', data_df.loc[l, 'CSI Member Id']),\
              ('Name', data_df.loc[l, 'Name']),\
               ('Email Id', data_df.loc[l, 'Email Id']),\
               ('Phone', data_df.loc[l, 'Phone']),\
               ('Address', data_df.loc[l, 'Address']),\
               ('District/City', data_df.loc[l, 'City']),\
               ('Pincode', data_df.loc[l, 'Pincode']))
    ###
    # Adding heading in the first row of the table 
    ###
    doc.add_heading('Confirmation of your contact details', 0) 
    ### 
    # Adding a paragraph
    ###        
    doc.add_paragraph(dtd) 
    doc.add_heading('\nDear CSI Member', 3)
    doc.add_paragraph('\nGreetings from CSI Chennai Chapter!')    
    doc.add_paragraph('Your contact details as per our records are given below:')

    # Creating a table object
    ###
    table  = doc.add_table(rows = 1, cols = 2)
    # Add a Title to the document
    row               =  table.rows[0].cells
    row[0].text       = 'Column'
    row[1].text       = 'Details'
    ###
    for idx, txt in data:
        ###
        # Adding a row and then adding data in it
        ###
        row          =  table.add_row().cells
        row[0].text  =  idx
        row[1].text  =  str(txt)
        ###
        
    ###   
    # Adding style to a table
    ###
    table.style   =  'Light Grid'    

    doc.add_paragraph('\n\nPlease confirm if they are correct. If they are incorrect or changed, please send email us at info@csichennai.org with CC to sonali@csi-india.org with your Membership Id and the correct contact details.\n\n')
    doc.add_paragraph('\nWarm regards')  
    doc.add_paragraph('Dr. A Akila Ganesh, Secretary, CSI Chennai Chapter\n')
    doc.add_paragraph('\nThis is a computer generated document requiring no signature')
    para          =  doc.add_paragraph('\n')  
    address_lines = ''
    for idx, txt in data:
        ###
        # Adding a row and then adding data in it
        ###
        if  idx in ['Name', 'Address', 'District/CityName', 'Pincode']:
            address_lines +=   '\n' + str(txt)
    doc.add_paragraph(address_lines) 
    # Adding a page break
    #doc.add_page_break()

In [15]:
###
# Now save the document to a location
###
output_file_name =  'undelivered_csi-member-details' + str(datetime.now().strftime('%Y_%m_%d_%H_%M_%S')) + '.docx'
doc.save(output_file_name)
###
# END
###

In [16]:
output_file_name

'undelivered_csi-member-details2022_06_13_20_08_37.docx'